<div id="ispeak"></div>
<link
  rel="stylesheet"
  href="<%= theme.CDN.shuoshuo.kkapi.highlight.css %>"
/>
<link
  rel="stylesheet"
  href="<%= theme.CDN.shuoshuo.kkapi.css %>"
/>

<style>
  #article-container .D-avatar {
    margin: 0 10px 0 0;
  }
  .D-footer {
    display: none;
  }
  .ispeak-comment {
    margin: 20px 0 0 0;
}
</style>
<script src="<%= theme.CDN.shuoshuo.kkapi.highlight.js %>"></script>
<script src="<%= theme.CDN.shuoshuo.kkapi.marked %>"></script>
<script src="<%= theme.CDN.shuoshuo.kkapi.js %>"></script>
<%- partial('_thirdparty/shuoshuo/kkapi/' + theme.shuoshuo.kkapi.comment) %>
