<div id="giscus"></div>
<script src="<%= theme.CDN.comment.giscus %>"
        data-repo="<%= theme.comment.giscus.repo %>"
        data-repo-id="<%= theme.comment.giscus.repo_id %>"
        data-category="<%= theme.comment.giscus.category %>"
        data-category-id="<%= theme.comment.giscus.category_id %>"
        data-mapping="<%= theme.comment.giscus.mapping %>"
        data-input-position="<%= theme.comment.giscus.input_position %>"
        data-theme="<%= theme.comment.giscus.theme %>"
        data-lang="<%= theme.comment.giscus.lang %>"
        crossorigin="anonymous"
        async>
</script>
