<%- partial('_partial/head') %>
<body style="background-image: url(<%= theme.background %>);">
  <%- partial('_partial/loading') %>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="l_body">
    <div class='container clearfix'>
      <div id="pjax-container" class='l_main'>
        <%- body %>
      </div>
      <aside class='l_side'>
        <%- partial('_partial/side') %>
      </aside>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/scripts') %>
  <% if (theme.body.canvas.enable) { %>
  <script type="text/javascript" color="<%= theme.body.canvas.color %>" opacity="0.5" count="99" src="<%= theme.CDN.canvasnest %>"></script>
  <% } %>
</body>
</html>
