<%- partial('_partial/head') %>
<style>
  body:before {
    content: '';
			display: block;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -2;
background:url('<%= theme.background %>');
background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 1;
			transition: opacity .5s ease;
      background-size:100% 100%;
  }
</style>
<body>
  <%- partial('_partial/loading') %>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="l_body">
    <div class='container clearfix'>
      <div id="pjax-container" class='l_main'>
        <%- body %>
      </div>
      <aside class='l_side'>
        <%- partial('_partial/side') %>
      </aside>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/scripts') %>
  <% if (theme.body.canvas.enable) { %>
  <script type="text/javascript" color="<%= theme.body.canvas.color %>" opacity="0.5" count="99" src="<%= theme.CDN.canvasnest %>"></script>
  <% } %>
</body>
</html>