<article id="<%= page.layout %>-<%= page.slug %>"
   class="animated rubberBand slideInRight post white-box article-type-<%= page.layout %>"
   itemscope itemprop="blogpage">
    <section class='meta'>
    <h2 class="title">
      <a href="<%- url_for(page.path) %>">
         <%- __('article.friend') %>
     </a>
   </h2>
    </section>
    <section class="article typo">
      <div class="article-entry" itemprop="articleBody">
<div class="post-body">
    <div id="links">
       <style>
          .links-content{
          margin-top:1rem;
          }
          .link-navigation::after {
          content: " ";
          display: block;
          clear: both;
          }
          .card {
          width: 45%;
          font-size: 1rem;
          padding: 10px 20px;
          border-radius: 4px;
          transition-duration: 0.55s;
          margin-bottom: 1rem;
          display:flex;
          box-shadow: 0 2px 6px 0 rgba(0, 242, 255, 0.92), 0 0 6px 0 rgba(0, 242, 255, 0.94);
          border: 2px solid var(--primary-color, #00F2FF);
          }
          .card:nth-child(odd) {
          float: right;
          }
          .card:nth-child(even) {
          float: left;
          }
          .card:hover {
          background-color: #00F2FF;
          transform: scale(1.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.14);
          }
          .card a {
          border:none;
          }
          .card a:active {
          backdrop-filter: blur(10px);
          }
          .card .ava {
          width: 3rem!important;
          height: 3rem!important;
          margin:0!important;
          margin-right: 1em!important;
          border-radius:4px;
          }
          .card .card-header {
          font-style: italic;
          overflow: hidden;
          width: 100%;
          }
          .card .card-header a {
          font-style: normal;
          color: #2bbc8a;
          font-weight: bold;
          white-space: nowrap;
          text-decoration: none;
          }
          .card .card-header a:hover {
          color: #d480aa;
          text-decoration: none;
          }
          .card .card-header a:active {
          backdrop-filter: blur(10px);
          }
          .card .card-header .info {
          font-style:normal;
          color:#a3a3a3;
          font-size:14px;
          min-width: 0;
          overflow: hidden;
          white-space: nowrap;
          }
       </style>
       <div class="links-content">
          <div class="link-navigation">
            <h3>大佬们</h3>
            <% (theme.links||[]).forEach(function(link){ %>
             <div class="card">
               <a href="<%=url_for(link.link)%>"><img class="ava" src="<%=link.avatar%>" /></a>
                <div class="card-header">
                   <div>
                      <a href="<%=url_for(link.link)%>"><%=link.name%></a>
                   </div>
                   <div class="info"><%=link.info%></div>
                </div>
             </div>
            <%})%>
          </div>
       </div>
    </div>
    <p><%- __('article.welcomelinks') %></p>
<pre style="overflow-y: hidden;"><code><%- __('article.friendformat') %>：
- name: <%= config.title%>
  site: <%= config.url%>
  info: <%= config.description%>
  avatar: <%= url_for(theme.linkavatar) %>
</code></pre>
 </div>
   	</div>
	  <% if (page.tags && page.tags.length) { %>
	  <div class="article-tags tags">
      <% page.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
		
	</section>
</article>
<% if (page.comments && theme.comment.enable){ %>
	<article class="animated rubberBand slideInRight " style="backdrop-filter: blur(20px);box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);margin:15px 0 0 0;padding:11px;background-color:rgba(255, 255, 255, 0.8);border-radius: 20px;">
      <h2 style="position: relative;font-family: 'Titillium Web', Helvetica, 'Hiragino Sans GB', 'Hiragino Sans GB W3', Source Han Sans CN Regular, WenQuanYi Micro Hei, 'Microsoft YaHei', Arial, sans-serif;font-weight: normal;margin: 20px auto 20px;left: 3px;">
         <i class="fa fa-comment" aria-hidden="true" style="color: #4caf50;"></i>
         <%- __('article.comments') %>
      </h2>
      <%- partial('_thirdparty/comments/' + theme.comment.type) %>
      </article>
   <% } %>
<script>
	window.subData = {
		title: '<%= page.title %>',
		tools: true
	}
</script>