<article id="<%= page.layout %>-<%= page.slug %>"
   class="animate__animated <%= theme.animate.friend.link %> post white-box article-type-<%= page.layout %>"
   itemscope itemprop="blogpage">
    <section class='meta'>
    <h2 class="title">
      <a href="<%- url_for(page.path) %>">
         <%- __('article.friend') %>
     </a>
   </h2>
    </section>
    <section class="article typo">
      <div class="article-entry" itemprop="articleBody">
<div class="post-body">
    <div id="links">
       <div class="links-content">
          <div class="link-navigation">
            <h3>大佬们</h3>
            <% (theme.dalao||[]).forEach(function(link){ %>
               <div class="demo">
                  <figure class="imghvr-blur" style="width: 166px;height: 166px;background: 0;border-radius: 20px;">
                     <img src="<%=link.avatar%>" alt="example-image" class="friendimage">
                    <figcaption style="background:<%=link.color%>">
                     <%=link.info%>
                    </figcaption><a href="<%=url_for(link.link)%>"></a>
                  </figure>
                  <a href="<%=url_for(link.link)%>" style="color:<%=link.color%>">
                    <p style="text-align:center;letter-spacing: 0px;">
                      <%=link.name%>
                    </p>
                </a>
                </div>
            <%})%>
          </div>
          <div class="link-navigation">
          <h3>小伙伴们</h3>
          <% (theme.xiaohuoban||[]).forEach(function(link){ %>
            <div class="demo">
              <figure class="imghvr-blur" style="width: 166px;height: 166px;background: 0;border-radius: 20px;">
                 <img src="<%=link.avatar%>" alt="example-image" class="friendimage">
                <figcaption style="background:<%=link.color%>">
                 <%=link.info%>
                </figcaption><a href="<%=url_for(link.link)%>"></a>
              </figure>
              <a href="<%=url_for(link.link)%>" style="color:<%=link.color%>">
              <p style="text-align:center;letter-spacing: 0px;">
                <%=link.name%>
              </p>
            </a>
            </div>
          <%})%>
         </div>
       </div>
    </div>
    <p><%- __('article.welcomelinks') %></p>
<pre style="overflow-y: hidden;"><code><%- __('article.friendformat') %>：
- name: <%= config.title%>
  site: <%= config.url%>
  info: <%= config.description%>
  avatar: <%- theme.linkavatar %>
</code></pre>
 </div>
   	</div>
	  <% if (page.tags && page.tags.length) { %>
	  <div class="article-tags tags">
      <% page.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
		
	</section>
</article>
<% if (page.comments && theme.comment.enable){ %>
	<article class="animate__animated <%= theme.animate.friend.comment %> post-comments">
      <h2 class="title">
         <i class="fa fa-comment" aria-hidden="true" style="color: #4caf50;"></i>
         <%- __('article.comments') %>
      </h2>
      <%- partial('_thirdparty/comments/' + theme.comment.type) %>
      </article>
   <% } %>
<script>
	window.subData = {
		title: '<%= page.title %>',
		tools: true
	}
</script>