<article id="<%= page.layout %>-<%= page.slug %>"
    class="animate__animated <%= theme.animate.shuoshuo %> post white-box article-type-<%= page.layout %>"
    itemscope itemprop="blogpage">
     <section class='meta'>
     <h2 class="title">
       <a href="<%- url_for(page.path) %>">
        <%- __('header.say') %>
      </a>
    </h2>
     </section>
     <section class="article typo">
       <div class="article-entry" itemprop="articleBody">
        <% if (theme.shuoshuo.enable){ %>
          <%- partial('_thirdparty/shuoshuo/' + theme.shuoshuo.type) %>
<% } else { %>
  站长已关闭说说
  <% } %>
        </div>
     </section>
 </article>
 <script>
     window.subData = {
         title: '<%= page.title %>',
         tools: true
     }
 </script>
