<div id="comments" class="comments">
    <div id="waline" class="waline"></div>
    <script>
      function load_waline() {
          setTimeout(function() {
              var HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
              var src = 'https://unpkg.com/@waline/client/dist/waline.js'
              var script = document.createElement('script')
              script.setAttribute('type','text/javascript')
              script.onload = function() {
                 pjax_waline()
              }
              script.setAttribute('src', src)
              HEAD.appendChild(script)
          }, 1);
      };
      function pjax_waline() {
          if(!document.querySelectorAll("#waline")[0])return;
          Waline.init({
                   el: '#waline',
                   serverURL: '<%= theme.waline.server_url %>',
                   pageSize: '<%= theme.waline.pageSize %>',
                   placeholder: '<%= theme.waline.placeholder %>',
                   emoji: <%- JSON.stringify(theme.waline.emoji || []) %>,
                   login: '<%= theme.waline.login %>',
          });
      }
      load_waline();
      document.addEventListener('pjax:complete', function () {
          pjax_waline();
      });
      </script>
  </div>
