<article id="<%= post.layout %>-<%= post.slug %>"
  class="animate__animated <%= theme.animate.post.postani %> post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>" class="post-title-link">
    	<%= post.title %>
    </a>
  </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<%- partial('categories',{post:post}) %>
	</section>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- post.content %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
	       <!-- 版权信息 -->
		   <% if (!index && page.copyright && theme.copyright.enable){ %>
			<%- partial('_partial/copyright') %>
			<% } %>
			<!---->
			<div class="qrcodes">
				<% if (theme.qrcode && post.prev || post.next){ %>
	<!--此处生成本页二维码-->
<script data-pjax src="//cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
<script data-pjax src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<div id="output" style="width:150px; height:170px;border:10px solid #bde4e4;background:#ffffff; font-weight: 600; text-align: center; color: rgba(0, 0, 0, 0.9);margin: 10px auto 0;">扫一扫手机看</div>
<script data-pjax type="text/javascript">
   function utf16to8(str) {
     var out, i, len, c;
     out = "";
     len = str.length;
     for (i = 0; i < len; i++) {
         c = str.charCodeAt(i);
         if ((c >= 0x0001) && (c <= 0x007F)) {
             out += str.charAt(i);
         } else if (c > 0x07FF) {
             out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
             out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
             out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
         } else {
             out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
             out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
         }
     }
     return out;
 }
 
 content = utf16to8('<%- config.url %>/<%- post.path %>'); 
 $('#output').qrcode({
     width: 110,
     height: 110,
     render: "canvas",
     correctLevel: 0,
     text: content
 });
 </script>
 <!--生成本页二维码结束-->
 <% } %>
</div>
	<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
				<% if(post.prev){ %>
					<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i><%- __('article.previous') %>：<a href="<%=url_for(post.prev.path)%>" rel="prev"  title="<%=post.prev.title%>">
						<%= post.prev.title %> 
					</a></span>
				<% } %>
				<% if(post.next){ %>
					<span class="art-item-right"><%- __('article.next') %>：<a href="<%=url_for(post.next.path) %>" rel="next"  title="<%=post.next.title %>">
						<%=post.next.title  %>
					</a><i class="icon icon-chevron-thin-right"></i></span>
				<%} %>
		</div>
	<%} %>
	</section>
</article>
<% if (page.comments && theme.comment.enable){ %>
	<article class="animate__animated <%= theme.animate.post.commentani %> post-comments">
      <h2 class="title">
         <i class="fa fa-comment" aria-hidden="true" style="color: #4caf50;"></i>
         <%- __('article.comments') %>
      </h2>
      <%- partial('_thirdparty/comments/' + theme.comment.type) %>
      </article>
   <% } %>
<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>
