<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = __('archive.archives');
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title =  __('categories') + ': ' + page.category;
    else if (is_tag())
      title =  __('tags') + ': ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>" />
  <meta name="keywords" content="<%=(config.keywords||[]).join(',') %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%- favicon_tag(config.favicon) %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--网站收录-->
  <% if (theme.site_verify.baidu){ %>
    <meta name="baidu-site-verification" content="<%= theme.site_verify.baidu %>" />
    <% } %>
  <% if (theme.site_verify.bing){ %>
  <meta name="msvalidate.01" content="<%= theme.site_verify.bing %>" />
  <% } %>
<!--Pjax-->
  <% if (theme.pjax){ %>
    <%- partial('_thirdparty/pjax') %>
  <% } %>
  <!--字体-->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <!--animate.css CEN-->
  <% if (theme.CDN.animate){ %>
    <link href='<%= theme.CDN.animate %>' rel='stylesheet'>
  <% } %>
  <!--fontawesome CDN-->
  <% if (theme.CDN.fontawesome){ %>
    <link href='<%= theme.CDN.fontawesome %>' rel='stylesheet'>
  <% } %>
  <!--KateX CDN-->
  <% if (theme.katex){ %>
    <link href='<%= theme.CDN.katex.css %>' rel='stylesheet'>
    <script src="<%= theme.CDN.katex.js %>"></script>
    <script src="<%= theme.CDN.katex.rander %>"></script>
  <% } %>
  <!--自定义css CDN-->
  <% if (theme.CDN.css){ %>
  <link rel="stylesheet" href="<%= theme.CDN.css %>">
  <% } else { %>
  <%- css('style.css') %>
  <% } %>
  <!--毛玻璃-->
  <% if (theme.glass.header){ %>
    <style>
      .l_header{
      backdrop-filter: blur(20px);
      }
    </style>
  <% } %>
  <% if (theme.glass.article){ %>
    <style>
      .l_main .post,.post-comments,.m_widget,#footer {
      backdrop-filter: blur(20px);
      }
    </style>
  <% } %>
  <% if (theme.glass.sidebar){ %>
    <style>
      .m_widget {
      backdrop-filter: blur(20px);
      }
    </style>
  <% } %>
  <% if (theme.glass.footer){ %>
    <style>
      #footer {
      backdrop-filter: blur(20px);
      }
    </style>
  <% } %>
  <!--其它特效-->
  <% if (theme.headereffect.titlelight){ %>
    <%- css('css/title-light.css') %>
  <% } %>
  <% if (theme.headereffect.menuhover){ %>
    <%- css('css/header-light.css') %>
  <% } %>
  <% if (theme.readmore.light){ %>
    <%- css('css/readmore-light.css') %>
  <% } %>
  <% if (theme.readmore.rotate){ %>
    <%- css('css/readmore-rotate.css') %>
  <% } %>
  <% if (!theme.readmore.rotate && !theme.readmore.light){ %>
    <%- css('css/readmore-default.css') %>
  <% } %>
  <% if (theme.chatra.enable) { %>
  <!--Chatra-->
<script>
  (function(d, w, c) {
      w.ChatraID = '<%= theme.chatra.public_key %>';
      var s = d.createElement('script');
      w[c] = w[c] || function() {
          (w[c].q = w[c].q || []).push(arguments);
      };
      s.async = true;
      s.src = 'https://call.chatra.io/chatra.js';
      if (d.head) d.head.appendChild(s);
  })(document, window, 'Chatra');
</script>
<% } %>
<!--DaoVoice-->
<% if (theme.daovoice.enable) { %>
<script>(function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/<%= theme.daovoice.app_id %>.js","daovoice")
daovoice('init', {
  app_id: "<%= theme.daovoice.app_id %>"
});
daovoice('update');
</script>
<% } %>
</head>
